@page "/cargo"
@using Models = TruckSimTracker.Data.Models

<h1>Cargo</h1>

<p>View and input cargo data.</p>

@if (cargos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cargo in cargos)
            {
                <tr>
                    <td>@cargo.Id</td>
                    <td>@cargo.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private CargoDataItem[]? cargos;

    protected override async Task OnInitializedAsync()
    {
        // add 1 for testing.
        await App.Repo.InsertAsync(new TruckSimTracker.Data.Models.Cargo() { Name = "Boat" });
        cargos = await GetCargoAsync();
    }

    private async Task<CargoDataItem[]> GetCargoAsync()
    {
        var data = await App.Repo.GetAsync<Models.Cargo>();
        return data.Select(dataItem =>
            new CargoDataItem()
            {
                Id = dataItem.Id,
                Name = dataItem.Name
            }
        ).ToArray(); 
    }

    private class CargoDataItem
    {
        public int Id { get; set; }
        public string? Name { get; set; }
    }
}
